.section_padding{
    padding: 4rem 4rem;
}

.footer{
    background-color: rgb(135, 196, 250);
}

.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(7, 7, 7);
}

a{
    color: rgb(43, 205, 226);
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.img31{
    width: 80%;
}

.sb4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem ;
}

.sbp{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;

}

.sbp1{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: blueviolet;
    font-weight: 600;
}

hr{
    color: rgb(3, 56, 56);
    width: 100%;
}

.copy{

    font-size: 13px;
    line-height: 15px;
    color: black;
    font-weight: 600;
}


@media screen and (max-width:850px){
    h1{
       font-size: 44px; 
       line-height: 50px;
    }
}

@media screen and (max-width:550px){
    h1{
        font-size: 34px;
        line-height: 42px;
    }

    .sb_footer-links_div{
        margin: 1rem 0;
    }

    .sbp{
        font-size: 14px;
        line-height: 20px;
        
    }

    .sb_footer-below{
    
        flex-direction: column;
        justify-content: left;
       
    }

    .sb_footer-below-links{
     
        flex-direction: column;
    
    }

    .sbp1{
       
        margin-left: 0rem;
        margin-top: 1rem;
        
    }

    .socialmedia{
        margin-top: -350px;
    }
    


}

@media screen and (max-width:400px) {

    .sb4{
        font-size: 27px;
        line-height: 38px;
        margin-bottom: 0.9rem ;
    }

}

