@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;700&display=swap'); 


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}

header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #575757;
  color: var(--textColor);
  background-image: url('../Img/back22.png');
}

.dental{
  color: #ebe5e5;
  font-size: 20px;
}

.nav55{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  flex: 1;
  max-width: 50%;
  height: 30px;
 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 2s;
  z-index: 0;
}

nav a{
  
  color: rgb(241, 241, 241);
  text-decoration: none;
  margin-left: 15%;

}

nav a:hover{
  color: rgb(255, 255, 255);
  padding: 2rem;
  transition: 1.5s;
  border-radius: 100px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #ffffff;
  
  
  
}

header .nav-btn{
  padding: 5px;
  cursor:pointer;
  background: transparent;
  border:none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.container{
  margin: 20px;
  
}

.row1{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row2{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row3{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}





.card-01{
  background: #03D29F;
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 300px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card-02{
 
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 250px;
  margin: 3px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.card-02:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #252525;
}

.card-03{
  
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 400px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.card-03:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #252525;
}

.card-20{
  
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 935px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.card-20:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #252525;
}

.card-04{
  background: #ffffff;
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 913px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card-040{
  background: #ffffff;
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 913px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.card-05{
  background: #ffffff;
  position: relative;
  flex: 1; 
  max-width: 100%;
  height: 100%;
  


  
}

.card-050{
  background: #ffffff;
  position: relative;
  flex: 1; 
  max-width: 100%;
  height: 100%;
  


  
}

.card-051{
  background: #ffffff;
  position: relative;
  flex: 1; 
  max-width: 100%;
  height: 100%;
  


  
}



.container3{
  background-image: url('../Img/aaaaa.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  
  
}

.card-07{
  background: #ffffff;
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 657px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.card-08{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 250px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 5s;
}

.card-08:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #252525;
  transition: 5s;
}

.card-09{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 355px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 5s;
}
.card-09:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  color: #252525;
  transition: 5s;
}


.card-10{
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
  backdrop-filter: blur(5px);
  position: relative;
  flex: 1;
  max-width: 100%;
  height: 250px;
  margin: 3px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 5s;
}
.card-10:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  color: #252525;
  transition: 5s;
}

.card-10-body{
  color: white;
}

.container {
  background-image: url('../Img/Img1.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 100vh;
}

.container1 {
  background-image: url('../Img/smile123.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 66.6vh;
}

.container2 {
  background-image: url('../Img/cov33.svg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 75vh;
}

.card-11 {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 30px;
  transition: 5s;
  
}

.card-11:hover {

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  color: #f7f7f7;
  transition: 5s;
  
}

.textcenter{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;
    color: #ffffff;
    opacity: 1;
    
    

}
.row100:after {
  content: "";
  display: table;
  clear: both;
}





.img3{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
 
  
}

.img111{
  width: 100%;
  position: relative;
  object-fit: cover;
  height: 105vh;
  
}

.img8{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  
}


.gallery{
  width: 30%;
  height: 80%;
  margin-left: 480px;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;

}

.smilelogo{
  width: 40%;
  height: 80%;
  margin-left: 450px;
  margin-top: 40px;
  position: relative;
  border-radius: 30px;

}

.one{
  width: 30%;
  margin-left: 70%;
  margin-top: 25%;
  position: relative;
  border-radius: 30px;

}

.topic1{
  font-size: 80px;
}



.text1{
  color: #2c2c2c;
  margin-left: 80px;
  font-size: 90px;
  font-weight: 100px;
  position: absolute;
  
  }
  
  .text2{
  color: #474747;
  margin-left: 105px;
  margin-top: 150px;
  font-size: 90px;
  font-weight: 500;
  position: absolute;
  
  
  
  }

  .text5{
    color: #000000;
    margin-left: 100px;
    margin-top: 150px;
    font-size: 45px;
    font-weight: 200;
    position: absolute;
    
    
    
    }
    .text4{
    color: #030303;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 45px;
    font-weight: 300;
    position: absolute;
    
    
    
    }
    .text3{
    color: #000000;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 45px;
    font-weight: 600;
    position: absolute;
    
    
    
    }

    .text10{
      margin-left: 40px;
      font-size: 60px;
      font-weight: 100px;
      position: absolute;
      color: #ffffff;
      opacity: 1;
  
      
      }

    

      .text20{
        margin-left: 40px;
        font-size: 60px;
        font-weight: 100px;
        position: absolute;
        color: #ffffff;
        opacity: 1;
        margin-top: 110px;
    
        
        }
     

    .text11{
   
        margin-left: 40px;
        font-size: 90px;
        font-weight: 100px;
        position: absolute;
        color: #ffffff;
        opacity: 1;
        
    }
    .text12{
          
          margin-left: 40px;
          margin-top: 150px;
          font-size: 90px;
          font-weight: 100px;
          position: absolute;
          color: #ffffff;
          opacity: 1;
          
    }


    .text13{
      
      margin-left: 40px;
      font-size: 50px;
      font-weight: 100px;
      position: absolute;
      color: #ffffff;
      opacity: 1;
      
  }

  .text14{
  
    margin-left: 40px;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 100px;
    position: absolute;
    color: #ffffff;
    opacity: 1;
    
    
}

    .button1{

      background-color: #ffffff;
      color: #000000;
      padding: 15px;
      width: 200px;
      margin-left: 50%;
      margin-top: 12%;
      border-radius: 50px;
      }
      .button1:hover {
        background-color: #000000;
        color: #ffffff;
      }




      .formset{
        display: block;
        margin: 0 auto;
      }



      .form1{

        width: 50%;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 200px;
        margin-top: 300px;
        margin-bottom: 30px;
      }
      .form2{
      
        width: 50%;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 200px;
        margin-top: 0px;
      }
      .form3{
      
        width: 50%;
        border-radius: 5px;
        height: 100px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 200px;
        margin-top: 35px;
      }


      .BtnCard6 {
        cursor: pointer;
        background: #202020;
        color: #ebe5e5;
        border-radius: 5px;
        width: 200px;
        height: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        align-items: center;
        padding: 10px;
        display: center;
        text-align: center;
        display: block;
        margin:  auto;
        margin-bottom: 10px;
        margin-top: 10px;
        
    
        
            
        
    
       
      }
    .BtnCard6:hover {
        color: #000000;
        transform: scale(1.09);
        background: #ffffff;
      }

      .columnx100 {
        float: left;
        width: 29.55%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }

      .footer {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 20px;
        text-align: center;
        
      }
      .footer1 {
        background-color: rgb(24, 24, 24);
        color: white;
        padding: 20px;
        margin-top: 550px;
        text-align: center;
       
      }
    
      .footer2 {
        background-color: rgb(24, 24, 24);
        color: white;
        padding: 20px;
        margin-top: 500px;
        text-align: center;
      
      }


      .img31{
        width: 35%;
        margin-top: -20px;
        margin-left: 0px;
        
      }


      .img35{
        display: none;
        
      }

      


      @media only screen and (max-width: 767px){


        header .nav-btn{
          visibility: visible;
          opacity: 1;
          transition: 5s;
          
      }
      header nav{
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          background-color: var(--mainColor);
          transition: 1s;
          transform: translateY(-100vh);
          
          
      }
  
      header .responsive_nav{
          transform: none;
          background-color: #ffffff;
          color: #000000;
          z-index: 10;
          
      }
  
      nav .nav-close-btn{
          position: absolute;
          top: 2rem;
          right: 2rem;
         
         
          
      }
  
      nav a{
          font-size:  1.5rem;
         
          
      }

        
        .card-01{
          flex: 100%;
          width: 600px;
        }
        .card-02{
          flex: 100%;
          width: 600px;
        }
        .card-03{
          flex: 100%;
          width: 600px;
        }

        .card-04{
          display: none;
        }

        .card-10{
          flex: 100%;
          width: 600px;
        }
        .img3{
          width: 100%;
          margin-left: 0%;
          border-radius: 0px;
          
        }

        .img8{
          width: 100%;
          border-radius: 20px;
        }

      


       

          .button1{

            background-color: #ffffff;
            color: #000000;
            padding: 15px;
            width: 150px;
            margin-left: 57%;
            margin-top: 20%;
            border-radius: 50px;
            }
            .button1:hover {
              background-color: #000000;
              color: #ffffff;
            }


            .text1{
              color: #2c2c2c;
              text-align: center;
              margin: 100px;
              font-size: 50px;
              font-weight: 100px;
              margin-left: 90px;
            
            
              
              }
              
              .text2{
              color: #474747;
              margin-left: 62px;
              margin-top: 180px;
              font-size: 60px;
              font-weight: 500;
              position: absolute;
              
              
              
              }



            .text10{
              
              margin-left: 20px;
              font-size: 40px;
              font-weight: 100px;
              position: absolute;
              color: #ffffff;
              opacity: 0.6;
            
              
              }
           
        
            .text11{
                
                margin-left: 20px;
                margin-top: 35px;
                font-size: 40px;
                font-weight: 100px;
                position: absolute;
                color: #ffffff;
                opacity: 0.6;
                
            }
            .text12{
                  color: #2c2c2c;
                  margin-left: 20px;
                  margin-top: 95px;
                  font-size: 30px;
                  font-weight: 100px;
                  position: absolute;
                  color: #ffffff;
                  opacity: 0.6;
                  
            }
            .text20{
              color: #2c2c2c;
              margin-left: 20px;
              margin-top: 90px;
              font-size: 30px;
              font-weight: 100px;
              position: absolute;
              color: #ffffff;
              opacity: 0.6;
              
        }

            .gallery{
              width: 50%;
              height: 45%;
              margin-left: 0px;
              margin-top: 130px;
              position: relative;
              border-radius: 30px;
            
            }

            .smilelogo{
              width: 60%;
              height: 50%;
              margin-left: 50px;
              margin-top: 165px;
              position: relative;
              border-radius: 30px;

            }

            .textcenter{

              display: flex;
              font-size: 20px;
              align-items: center;
              justify-content: center;
              height: 1vh;
              color: #ffffff;
              opacity: 1;
              
          
          }

          

          .container1 {
            background-image: url('../Img/smile123.png');
            background-size: cover;
            background-position: center;
            padding: 20px;
            height: 73.5vh;
          }

          .container2 {
            background-image: url('../Img/cov33.svg');
            background-size: cover;
            background-position: center;
            padding: 20px;
            height: 175vh;
          }

          .card-08{
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            position: relative;
            flex: 1;
            max-width: 100%;
            height: 170px;
            margin: 3px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            margin-bottom: 80px;
            margin-top: 100px;
          }
          
          .card-08:hover {
          
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(30px);
            color: #252525;
          }
          
          .card-09{
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            position: relative;
            flex: 1;
            max-width: 100%;
            height: 175px;
            margin: 3px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
          }

          .text3{
            color: #000000;
            margin-left: 115px;
            margin-top: 15px;
            font-size: 45px;
            font-weight: 600;
            position: absolute;
            
            
            
            }
            .text5{
              color: #000000;
              margin-left: 100px;
              margin-top: 110px;
              font-size: 45px;
              font-weight: 200;
              position: absolute;
              
              
              
              }
              .text4{
              color: #030303;
              margin-left: 75px;
              margin-top: 60px;
              font-size: 45px;
              font-weight: 300;
              position: absolute;
              
              
              
              }

              .button1{

                background-color: #ffffff;
                color: #000000;
                padding: 15px;
                width: 200px;
                margin-left: 23%;
                margin-top: 52%;
                border-radius: 50px;
                }


                .form1{

                  width: 80%;
                  border-radius: 5px;
                  justify-content: center;
                  align-items: center;
                  padding:15px;
                  margin-left: 6%;
                  margin-top: 50px;
                  margin-bottom: 10px;
                }
                .form2{
                
                  width: 80%;
                  border-radius: 5px;
                  justify-content: center;
                  align-items: center;
                  padding:15px;
                  margin-left: 6%;
                  margin-top: 0px;
                }
                .form3{
                
                  width: 80%;
                  border-radius: 5px;
                  height: 100px;
                  justify-content: center;
                  align-items: center;
                  padding:15px;
                  margin-left: 6%;
                  margin-top: 35px;
                }
          
                .BtnCard6 {
                  cursor: pointer;
                  background: #202020;
                  color: #ebe5e5;
                  border-radius: 5px;
                  width: 200px;
                  height: 50px;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
                  align-items: center;
                  padding: 10px;
                  display: center;
                  text-align: center;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 10px;
                  margin-top: 10px;
              
                  
                      
                  
              
                 
                }
              .BtnCard6:hover {
                  color: #000000;
                  transform: scale(1.09);
                  background: #ffffff;
                }


                .card-051{
                  
                    display: none;
                 
                
                
                  
                }

                .card-20{
  
                  position: relative;
                  flex: 1;
                  max-width: 100%;
                  height: 450px;
                  margin: 3px;
                  border-radius: 5px;
                  box-shadow: 0 0 5px rgba(0,0,0,0.2);
                  background-color: rgba(255, 255, 255, 0.2);
                  backdrop-filter: blur(10px);
                }

                .columnx100 {
                  float: left;
                  width: 100%;
                  padding: 0px;
                  height: 500px; /* Should be removed. Only for demonstration */
                }


                .footer {
                  background-color: rgb(0, 0, 0);
                  color: white;
                  padding: 20px;
                  text-align: center;
                  
                }

                .footer1 {
                  background-color: rgb(24, 24, 24);
                  color: white;
                  padding: 0px;
                  margin-top: 50px;
                  height: 1400px;
                  text-align: center;
                }
            
                .footer2 {
                  background-color: rgb(24, 24, 24);
                  color: white;
                  padding: 0px;
                  margin-top: 300px;
                  height: 1400px;
                  text-align: center;
                }


                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }
          
                .img31{
                  width: 20%;
                  margin-top: 350px;
                  margin-left: 0px;
                  
                }


                .img35{
                  width: 15%;
                  margin-left: -150%;
                  margin-top: 300%;
                  
                  
                  
                }
        
                .img36{
                  width: 25%;
                  z-index: 10;
               
                  
                }

                .nav55{
                  
                  backdrop-filter: blur(10px);
                  flex: 1;
                  max-width: 50%;
                  height: 100%;
                
                 
                }

                nav a{
  
                  color: rgb(53, 53, 53);
                  text-decoration: none;
                  margin-left: 15%;
                
                }

                nav a:hover{
                  color: rgb(255, 255, 255);
                  padding: 2rem;
                  transition: 1.5s;
                  border-radius: 50px;
                  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                  backdrop-filter: blur(30px);
                  color: #2759ce;
                  
                
                  
                }


                

              


             
        
      }


     

       
   


      